/* --------- GLOBAL CSS -------- */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Noto+Sans+JP:wght@400;500&display=swap");

:root {
  --accent-clr: #5cdb95;
  --light-grey: #888888;
  --black: #1a1a1a;
  --dark-grey: #272727;
  --pri-ff: "Noto Sans JP", sans-serif;
  --sec-ff: "IBM Plex Mono", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--black);
  color: #fff;
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 1rem;
  font-family: var(--pri-ff);
}

@media (min-width: 1200px) {
  body {
    padding: 0;
  }
  .main-padding {
    padding: 0 4rem;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

li {
  list-style: none;
}


